@import './pageN1';
@import './sitebar';
@import './pageN2';
@import './whatwedoPage';
@import './statisticPage';
@import './buildingPage';
@import './sliderPage';
@import './brandLinkPage';
@import './latestNewsPage';
@import './footerPage';
@import './footer';



.body{
    padding: 0;
    margin: 0;
    background-image: url(../image/wallpapersden.com_grey-simple-texture-pattern_1366x768.jpg);
    background-size: 4px 4px;
}
